language: go

go:
  - 1.8

env:
  global:
    - CC_TEST_REPORTER_ID=7cfeec5ee3ccaf4f30284a02a584e9d5da55a8be11b2408f6d84697862ae0fe4

before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build

script:
  - go test -coverprofile=out

after_script:
  - ./cc-test-reporter format-coverage --input-type gocov out
  - ./cc-test-reporter upload-coverage